.Navigation{
font-family:'nanumsquare';
}
#navbar-brand{
    padding-left:20px;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
}
#responsive-navbar-nav{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}