.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 2;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: green !important;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: black;
}
.carousel-indicators {
   bottom :2px;
}
.carousel-indicators li {
   border-color: grey;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 500px;
height:500px;

}
#myCarousel{
padding-top:30px;
padding-bottom: 30px;
}